useDynLib(rmetasim)

#import(ape)

importFrom(ade4,amova)
importFrom(pegas,theta.h)
importFrom(pegas,theta.k)
importFrom(pegas,theta.s)
importFrom(adegenet, genind)
importFrom(adegenet, genind2genpop)
importFrom(gtools,combinations)

importFrom(stats,runif)
importFrom(stats,pchisq)
importFrom(stats,dist)
importFrom(stats,aggregate)
importFrom(stats,xtabs)

importFrom(graphics,plot)

importFrom(utils, read.table)



export(is.landscape,landscape.Fst,landscape.advance)
export(landscape.allelecount,landscape.allelefreq,landscape.carry)
export(landscape.clean,landscape.coalinput,landscape.compress)
export(landscape.democol,landscape.demography,landscape.exp.het,landscape.extinct)
export(landscape.locus,landscape.locus.states,landscape.locusvec)
export(landscape.mismatchdist,landscape.modify.epoch,landscape.new.empty)
export(landscape.new.example,landscape.obs.het,landscape.ploidy)
export(landscape.populations,landscape.reproduce)
export(landscape.simulate)
export(landscape.states)
export(landscape.survive)
export(landscape.theta.h)
export(landscape.theta.k)
export(landscape.theta.s)
export(landscape.write.foreign)
export(landscape.new.epoch)
export(landscape.new.floatparam)
export(landscape.new.individuals)
export(landscape.new.intparam)
export(landscape.new.locus)
export(landscape.new.switchparam)
export(landscape.new.local.demo)
export(landscape.amova,landscape.amova.pairwise,landscape.amova.locus)
export(landscape.sample)
export(landscape.mig.matrix)
export(landscape.make.genind,landscape.make.genpop)
export(landscape.ind.freq)
export(landscape.freq.locnames)
